table.admin-tabla {
  margin: 0 auto;
  width: 95%;
  padding: 3rem 2rem;
  margin: 2rem 3rem;
  background-color: $gris;
  border-radius: 1rem;
  height: 100%;
  border-spacing: 0;

  thead {
    background-color: #370f58de;
    
    th {
      color: $blanco;
      padding: 2rem;
      font-family: $titulos;
      font-size: 2rem;
    }
    tr th {
      margin-bottom: 3rem;
    }
  }

  tbody {
    tr td {
      padding: 1rem 0;
      text-align: center;
      font-family: $texto;
      font-size: 2rem;
    }
  }

  .botones-acciones {
    display: flex;
    .btn-accion-pos {
      display: flex;
      gap: 1rem;
    }
    
    img {
      margin: 0 auto;
      margin-top: .8rem;
      width: 2rem;
      height: 2rem;
      border: solid 1px $primario;
      border-radius: 50%;
    }
  }
}

.admin-boton {
  display: flex;
  justify-content: end;
  padding: 2rem 5rem;
   
  a {
    display: flex;
    column-gap: .5rem;
    img {
      margin-top: .8rem;
      width: 2rem;
      height: 2rem;
      border: solid 1px $negro;
      border-radius: 50%;
    }
  }
}
