.boleto {
  h1 {
    color: $blanco;
  }
  
  p {
    color: $gris;
    font-size: 2.3rem;
  
    span {
      font-size: 2.3rem;
      color: $blanco;
      font-family: $titulos;
    }
  }
  
  margin: 0 40rem;
  background: rgb(7,3,255);
  background: linear-gradient(270deg, rgba(7,3,255,0.3) 0%, rgba(201,0,255,0.3981967787114846) 54%);
  padding: 3rem 5rem;
  border-radius: 5rem;

  .boleto-codigos {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
  }
}

.boleto-info {
  margin-left: 3rem;
  .boleto-2 {
    display: flex;
    justify-content: space-between;
  }
  .boleto-clave {
    font-family: $titulos;
    font-weight: bold;
    text-align: center;
    color: $blanco;
    font-size: 4rem;
  }
}

.code-bar {
  margin-top: 2rem;
  .br-cd {
    height: 8rem;
  }
  background-color: $gris;
  padding: 1rem;
}

.qr-code {
  margin-right: 3rem;
  width: 10rem;
}
