.background {
  margin: 0;
  padding: 0 2rem;
  width: 100%;
  height: 200rem;
  background-color: #2f323f;
}

.bg-2 {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='100%' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(32%2c 129%2c 219%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c154 C 57.6%2c123.8 172.8%2c-10.6 288%2c3 C 403.2%2c16.6 460.8%2c198.4 576%2c222 C 691.2%2c245.6 748.8%2c116.2 864%2c121 C 979.2%2c125.8 1036.8%2c252.4 1152%2c246 C 1267.2%2c239.6 1382.4%2c120.4 1440%2c89L1440 560L0 560z' fill='rgba(15%2c 106%2c 201%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c507 C 96%2c475.6 288%2c364.8 480%2c350 C 672%2c335.2 768%2c420.4 960%2c433 C 1152%2c445.6 1344%2c417 1440%2c413L1440 560L0 560z' fill='rgba(12%2c 99%2c 197%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}